<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Photo Gallery</h1>
  <ul>
    <li><a href="#"></a>Home</li>
    <li><a href="#"></a>Add a Photo </li>
    <li><a href="#"></a>Contact </li>
  </ul>

<%= yield %>

</body>
</html>
